body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ECECEC;
}

.load-file-area {
    margin: 20px 10px;
    /* padding: auto; */
    /* border-radius: 0%; */
    border-color: black;
    border: 2px;
    border-style: dashed;
    border-radius: 10px;
    text-align: center;
}

p {
    display: inline-block;
}

button {
    text-align: center;
}